body {
    font-family: Arial, sans-serif;
    background-color: #f8f8f8;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    padding-top: 50px;
}

.container {
    background: white;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 600px;
}

h2 {
    text-align: center;
}

.form {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
}

label {
    font-weight: bold;
    margin-bottom: 15px;
}


input, select, textarea {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 100%;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 15px 40px;
}


.checkbox, .radio {
    display: flex;
    /*align-items: ;*/
    gap: 10px;
}


.submit-btn {
    background-color: green;
    color: white;
    border: none;
    padding: 10px;
    border-radius: 5px;
    width: 100px;
    cursor: pointer;
}

.main-button {
    background-color: green;
    color: white;
    border: none;
    padding: 10px;
    border-radius: 5px;
    width: 100px;
    cursor: pointer;
}

nav {
    background-color: #4CAF50;  
    padding: 10px 20px; 
    position: fixed;  
    top: 0;
    left: 0;
    width: 100%;  
    z-index: 1000;  
    text-align: center;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    gap: 20px;
}

nav ul li {
    display: inline;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    padding: 8px 12px;
    display: inline-block;
}

nav ul li a:hover {
    background-color: #45a049;
    border-radius: 5px;
}

.container {
    margin-top: 60px; 
}

.err {
    font-family: Arial, sans-serif;
    font-size: 0.8rem;
    color: darkred;
    display: none;
    margin-top: 5px;
}